body {
    background-color: teal;
}

h2{
    color: black;
}

.aot{
    color: black;
}

.MHA {
    max-width: 20%;
    height: auto;
}

.naruto {
    max-width: 25%;
    height: auto;
    
}

.DS {
    max-width: 25%;
    height: auto;
}

.ONE {
    max-width: 25%;
    height: auto;
}